<app-loader *ngIf="isLoader"></app-loader>
<div *ngIf="!isLoader" style="background-color: #ececec;min-height: 100vh;padding: 20px;">
  <mat-card style="padding: 20px;margin: 0px;">
    <mat-stepper *ngIf="employeeInfo" class="example-stepper" [orientation]="(stepperOrientation | async)!">
      <mat-step [stepControl]="employeeInfo" label="General Information">
        <ng-container [ngTemplateOutlet]="GENERALINFO">
        </ng-container>
        <div>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="contactInfo" label="Fill out your address">
        <ng-container [ngTemplateOutlet]="CONTACTINFO">
        </ng-container>
        <div>
          <button style="padding: 20px;margin: 20px;" mat-button matStepperPrevious mat-raised-button color="warn">Back</button>
          <button style="padding: 20px;" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="Setting Password">
        <ng-container [ngTemplateOutlet]="SETTINGPASSWORD">
        </ng-container>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="onSignup()">Submit</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>


<ng-template #GENERALINFO>
  <form [formGroup]="employeeInfo" fxLayout="column" style="width: 100%">
    <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
        <mat-label fxFlex="40%" fxFlex.lt-md="100%">First Name</mat-label>
        <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
          <input formControlName="firstName" matInput />
          <mat-error *ngIf="employeeInfo?.get('firstName')?.errors && employeeInfo?.get('firstName')?.touched"
          class="message-block">
            <span class="mat-error-message mat-error-align"
            *ngFor="let k of employeeInfo?.get('firstName')?.errors | keyvalue"
            [attr.data-control]="'Error'">
              {{ (errorMessages.ERROR)['name'][k.key] }}
          </span><br>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
        <mat-label fxFlex="40%" fxFlex.lt-md="100%">Middle Name</mat-label>
        <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
          <input formControlName="middleName" matInput />
          <mat-error *ngIf="employeeInfo?.get('middleName')?.errors && employeeInfo?.get('middleName')?.touched"
          class="message-block">
            <span class="mat-error-message mat-error-align"
            *ngFor="let k of employeeInfo?.get('middleName')?.errors | keyvalue"
            [attr.data-control]="'Error'">
              {{ (errorMessages.ERROR)['name'][k.key] }}
          </span><br>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
        <mat-label fxFlex="40%" fxFlex.lt-md="100%">Last Name</mat-label>
        <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
          <input formControlName="lastName" matInput />
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
        <mat-label fxFlex="40%" fxFlex.lt-md="100%">father Name</mat-label>
        <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
          <input formControlName="fatherName" matInput />
          <mat-error *ngIf="employeeInfo?.get('fatherName')?.errors && employeeInfo?.get('fatherName')?.touched"
          class="message-block">
            <span class="mat-error-message mat-error-align"
            *ngFor="let k of employeeInfo?.get('fatherName')?.errors | keyvalue"
            [attr.data-control]="'Error'">
              {{ (errorMessages.ERROR)['name'][k.key] }}
          </span><br>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
        <mat-label fxFlex="40%" fxFlex.lt-md="100%">Email</mat-label>
        <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
          <input formControlName="email" matInput />
          <mat-error *ngIf="employeeInfo?.get('email')?.errors && employeeInfo?.get('email')?.touched"
          class="message-block">
            <span class="mat-error-message mat-error-align"
            *ngFor="let k of employeeInfo?.get('email')?.errors | keyvalue"
            [attr.data-control]="'Error'">
              {{ (errorMessages.ERROR)['email'][k.key] }}
          </span><br>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
        <mat-label fxFlex="40%" fxFlex.lt-md="100%">Alternate Email</mat-label>
        <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
          <input formControlName="alternateEmail" matInput />
          <!-- <mat-error *ngIf="employeeInfo?.get('alternateEmail')?.errors && employeeInfo?.get('alternateEmail')?.touched"
          class="message-block">
            <span class="mat-error-message mat-error-align"
            *ngFor="let k of employeeInfo?.get('alternateEmail')?.errors | keyvalue"
            [attr.data-control]="'Error'">
              {{ (errorMessages.ERROR)['email'][k.key] }}
          </span><br>
          </mat-error> -->
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
        <mat-label fxFlex="40%" fxFlex.lt-md="100%">Date of Birth</mat-label>
        <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
          <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" [max]="currentDate">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="employeeInfo?.get('dateOfBirth')?.errors && employeeInfo?.get('dateOfBirth')?.touched"
          class="message-block">
            <span class="mat-error-message mat-error-align"
            *ngFor="let k of employeeInfo?.get('dateOfBirth')?.errors | keyvalue"
            [attr.data-control]="'Error'">
              {{ (errorMessages.ERROR)['fieldRequired'][k.key] }}
          </span><br>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
        <mat-label fxFlex="40%" fxFlex.lt-md="100%">Gender</mat-label>
        <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
          <mat-select formControlName="gender">
            <mat-option *ngFor="let gender of loginConstant?.gender" [value]="gender">
              {{gender}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="employeeInfo?.get('gender')?.errors && employeeInfo?.get('gender')?.touched"
          class="message-block">
            <span class="mat-error-message mat-error-align"
            *ngFor="let k of employeeInfo?.get('gender')?.errors | keyvalue"
            [attr.data-control]="'Error'">
              {{ (errorMessages.ERROR)['fieldRequired'][k.key] }}
          </span><br>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
        <mat-label fxFlex="40%" fxFlex.lt-md="100%">Marital Status</mat-label>
        <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
          <mat-select formControlName="maritalStatus">
            <mat-option *ngFor="let item of loginConstant?.maritalStatus" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="employeeInfo?.get('maritalStatus')?.errors && employeeInfo?.get('maritalStatus')?.touched"
          class="message-block">
            <span class="mat-error-message mat-error-align"
            *ngFor="let k of employeeInfo?.get('maritalStatus')?.errors | keyvalue"
            [attr.data-control]="'Error'">
              {{ (errorMessages.ERROR)['fieldRequired'][k.key] }}
          </span><br>
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
        <mat-label fxFlex="40%" fxFlex.lt-md="100%">Work</mat-label>
        <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
          <input formControlName="work" matInput />
          <mat-error *ngIf="employeeInfo?.get('work')?.errors && employeeInfo?.get('work')?.touched"
          class="message-block">
            <span class="mat-error-message mat-error-align"
            *ngFor="let k of employeeInfo?.get('work')?.errors | keyvalue"
            [attr.data-control]="'Error'">
              {{ (errorMessages.ERROR)['name'][k.key] }}
          </span><br>
          </mat-error>
        </mat-form-field>
      </div>
    </div>


  </form>

</ng-template>
<ng-template #CONTACTINFO>

  <form [formGroup]="contactInfo" fxLayout="column" style="width: 100%">
    <h3 style="margin: 0px;padding-top: 20px;">Present Address :</h3>
    <div formGroupName="presentAddress" fxLayout="column">
      <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Address Line 1</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="addressLine1" matInput />
            <mat-error *ngIf="contactInfo?.get('presentAddress')?.get('addressLine1')?.errors && contactInfo?.get('presentAddress')?.get('addressLine1')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('presentAddress')?.get('addressLine1')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['addressError'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Address Line 2</mat-label>
          <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
            <input formControlName="addressLine2" matInput />
            <mat-error *ngIf="contactInfo?.get('presentAddress')?.get('addressLine2')?.errors && contactInfo?.get('presentAddress')?.get('addressLine2')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('presentAddress')?.get('addressLine2')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['addressError'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">

        <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">City</mat-label>
          <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
            <input formControlName="city" matInput />
            <mat-error *ngIf="contactInfo?.get('presentAddress')?.get('city')?.errors && contactInfo?.get('presentAddress')?.get('city')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('presentAddress')?.get('city')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['name'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Country</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <mat-select formControlName="country" (selectionChange)="getState($event , 'presentAddress')">
              <mat-option *ngFor="let item of Countries" [value]="item?.iso2">
                {{item?.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="contactInfo?.get('presentAddress')?.get('country')?.errors && contactInfo?.get('presentAddress')?.get('country')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('presentAddress')?.get('country')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['fieldRequired'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">State</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <mat-select formControlName="state">
              <mat-option *ngFor="let item of presentAddstate" [value]="item?.name">
                {{item?.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="contactInfo?.get('presentAddress')?.get('state')?.errors && contactInfo?.get('presentAddress')?.get('state')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('presentAddress')?.get('state')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['fieldRequired'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Zip Code</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="zipCode" matInput />
            <mat-error *ngIf="contactInfo?.get('presentAddress')?.get('zipCode')?.errors && contactInfo?.get('presentAddress')?.get('zipCode')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('presentAddress')?.get('zipCode')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['zipCodeValidation'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">mobile Number</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="mobileNumber" matInput />
            <mat-error *ngIf="contactInfo?.get('presentAddress')?.get('mobileNumber')?.errors && contactInfo?.get('presentAddress')?.get('mobileNumber')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('presentAddress')?.get('mobileNumber')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['phoneNumberError'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Home Phone Number</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="homePhoneNumber" matInput />
            <mat-error *ngIf="contactInfo?.get('presentAddress')?.get('homePhoneNumber')?.errors && contactInfo?.get('presentAddress')?.get('homePhoneNumber')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('presentAddress')?.get('homePhoneNumber')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['phoneNumberError'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <h3 style="margin: 0px;padding-top: 20px;">Permanent Address :</h3>
    <div formGroupName="permanentAddress" fxLayout="column">
      <mat-checkbox formControlName="addressSame" (change)="addressType($event)" style="padding:20px 0px"
        class="example-margin">Same as
        Present
        Address</mat-checkbox>
      <div *ngIf="!sameAddress" fxLayout="column">
        <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
            <mat-label fxFlex="40%" fxFlex.lt-md="100%">Address Line 1</mat-label>
            <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
              <input formControlName="addressLine1" matInput />
              <mat-error *ngIf="contactInfo?.get('permanentAddress')?.get('addressLine1')?.errors && contactInfo?.get('permanentAddress')?.get('addressLine1')?.touched"
              class="message-block">
                <span class="mat-error-message mat-error-align"
                *ngFor="let k of contactInfo?.get('permanentAddress')?.get('addressLine1')?.errors | keyvalue"
                [attr.data-control]="'Error'">
                  {{ (errorMessages.ERROR)['addressError'][k.key] }}
              </span><br>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
            <mat-label fxFlex="40%" fxFlex.lt-md="100%">Address Line 2</mat-label>
            <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
              <input formControlName="addressLine2" matInput />
              <mat-error *ngIf="contactInfo?.get('permanentAddress')?.get('addressLine2')?.errors && contactInfo?.get('permanentAddress')?.get('addressLine2')?.touched"
              class="message-block">
                <span class="mat-error-message mat-error-align"
                *ngFor="let k of contactInfo?.get('permanentAddress')?.get('addressLine2')?.errors | keyvalue"
                [attr.data-control]="'Error'">
                  {{ (errorMessages.ERROR)['addressError'][k.key] }}
              </span><br>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">

          <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
            <mat-label fxFlex="40%" fxFlex.lt-md="100%">City</mat-label>
            <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
              <input formControlName="city" matInput />
              <mat-error *ngIf="contactInfo?.get('permanentAddress')?.get('city')?.errors && contactInfo?.get('permanentAddress')?.get('city')?.touched"
              class="message-block">
                <span class="mat-error-message mat-error-align"
                *ngFor="let k of contactInfo?.get('permanentAddress')?.get('city')?.errors | keyvalue"
                [attr.data-control]="'Error'">
                  {{ (errorMessages.ERROR)['name'][k.key] }}
              </span><br>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
            <mat-label fxFlex="40%" fxFlex.lt-md="100%">Country</mat-label>
            <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
              <mat-select formControlName="country" (selectionChange)="getState($event, 'permanentAddress')">
                <mat-option *ngFor="let item of Countries" [value]="item?.iso2">
                  {{item?.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="contactInfo?.get('permanentAddress')?.get('country')?.errors && contactInfo?.get('permanentAddress')?.get('country')?.touched"
              class="message-block">
                <span class="mat-error-message mat-error-align"
                *ngFor="let k of contactInfo?.get('permanentAddress')?.get('country')?.errors | keyvalue"
                [attr.data-control]="'Error'">
                  {{ (errorMessages.ERROR)['fieldRequired'][k.key] }}
              </span><br>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
            <mat-label fxFlex="40%" fxFlex.lt-md="100%">State</mat-label>
            <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
              <mat-select formControlName="state">
                <mat-option *ngFor="let item of permanentAddstate" [value]="item?.name">
                  {{item?.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="contactInfo?.get('permanentAddress')?.get('state')?.errors && contactInfo?.get('permanentAddress')?.get('state')?.touched"
              class="message-block">
                <span class="mat-error-message mat-error-align"
                *ngFor="let k of contactInfo?.get('permanentAddress')?.get('state')?.errors | keyvalue"
                [attr.data-control]="'Error'">
                  {{ (errorMessages.ERROR)['fieldRequired'][k.key] }}
              </span><br>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
            <mat-label fxFlex="40%" fxFlex.lt-md="100%">Zip Code</mat-label>
            <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
              <input formControlName="zipCode" matInput />
              <mat-error *ngIf="contactInfo?.get('permanentAddress')?.get('zipCode')?.errors && contactInfo?.get('permanentAddress')?.get('zipCode')?.touched"
              class="message-block">
                <span class="mat-error-message mat-error-align"
                *ngFor="let k of contactInfo?.get('permanentAddress')?.get('zipCode')?.errors | keyvalue"
                [attr.data-control]="'Error'">
                  {{ (errorMessages.ERROR)['zipCodeValidation'][k.key] }}
              </span><br>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
          <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
            <mat-label fxFlex="40%" fxFlex.lt-md="100%">mobile Number</mat-label>
            <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
              <input formControlName="mobileNumber" matInput />
              <mat-error *ngIf="contactInfo?.get('permanentAddress')?.get('mobileNumber')?.errors && contactInfo?.get('permanentAddress')?.get('mobileNumber')?.touched"
              class="message-block">
                <span class="mat-error-message mat-error-align"
                *ngFor="let k of contactInfo?.get('permanentAddress')?.get('mobileNumber')?.errors | keyvalue"
                [attr.data-control]="'Error'">
                  {{ (errorMessages.ERROR)['phoneNumberError'][k.key] }}
              </span><br>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
            <mat-label fxFlex="40%" fxFlex.lt-md="100%">Home Phone Number</mat-label>
            <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
              <input formControlName="homePhoneNumber" matInput />
              <mat-error *ngIf="contactInfo?.get('permanentAddress')?.get('homePhoneNumber')?.errors && contactInfo?.get('permanentAddress')?.get('homePhoneNumber')?.touched"
              class="message-block">
                <span class="mat-error-message mat-error-align"
                *ngFor="let k of contactInfo?.get('permanentAddress')?.get('homePhoneNumber')?.errors | keyvalue"
                [attr.data-control]="'Error'">
                  {{ (errorMessages.ERROR)['phoneNumberError'][k.key] }}
              </span><br>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <h3 style="margin: 0px;padding-top: 20px;">Emergency Contact :</h3>
    <div formGroupName="emergencyContact" fxLayout="column" style="padding-top:20px">
      <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Contact Name</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="contactName" matInput />
            <mat-error *ngIf="contactInfo?.get('emergencyContact')?.get('contactName')?.errors && contactInfo?.get('emergencyContact')?.get('contactName')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('emergencyContact')?.get('contactName')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['name'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Relation Ship</mat-label>
          <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
            <input formControlName="relationship" matInput />
            <mat-error *ngIf="contactInfo?.get('emergencyContact')?.get('relationship')?.errors && contactInfo?.get('emergencyContact')?.get('relationship')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('emergencyContact')?.get('relationship')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['name'][k.key] }}  
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Address Line 1</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="addressLine1" matInput />
            <mat-error *ngIf="contactInfo?.get('emergencyContact')?.get('addressLine1')?.errors && contactInfo?.get('emergencyContact')?.get('addressLine1')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('emergencyContact')?.get('addressLine1')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['addressError'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Address Line 2</mat-label>
          <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
            <input formControlName="addressLine2" matInput />
            <mat-error *ngIf="contactInfo?.get('emergencyContact')?.get('addressLine2')?.errors && contactInfo?.get('emergencyContact')?.get('addressLine2')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('emergencyContact')?.get('addressLine2')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['addressError'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">

        <div fxFlex="50%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">City</mat-label>
          <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
            <input formControlName="city" matInput />
            <mat-error *ngIf="contactInfo?.get('emergencyContact')?.get('city')?.errors && contactInfo?.get('emergencyContact')?.get('city')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('emergencyContact')?.get('city')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['name'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Country</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <mat-select formControlName="country" (selectionChange)="getState($event , 'emergencyContact')">
              <mat-option *ngFor="let item of Countries" [value]="item?.iso2">
                {{item?.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="contactInfo?.get('emergencyContact')?.get('country')?.errors && contactInfo?.get('emergencyContact')?.get('country')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('emergencyContact')?.get('country')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['fieldRequired'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">State</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <mat-select formControlName="state">
              <mat-option *ngFor="let item of emergencyContactAddstate" [value]="item?.name">
                {{item?.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="contactInfo?.get('emergencyContact')?.get('state')?.errors && contactInfo?.get('emergencyContact')?.get('state')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('emergencyContact')?.get('state')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['fieldRequired'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Zip Code</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="zipCode" matInput />
            <mat-error *ngIf="contactInfo?.get('emergencyContact')?.get('zipCode')?.errors && contactInfo?.get('emergencyContact')?.get('zipCode')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('emergencyContact')?.get('zipCode')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['zipCodeValidation'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">mobile Number</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="mobileNumber" matInput />
            <mat-error *ngIf="contactInfo?.get('emergencyContact')?.get('mobileNumber')?.errors && contactInfo?.get('emergencyContact')?.get('mobileNumber')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('emergencyContact')?.get('mobileNumber')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['phoneNumberError'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Home Phone Number</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="homePhoneNumber" matInput />
            <mat-error *ngIf="contactInfo?.get('emergencyContact')?.get('homePhoneNumber')?.errors && contactInfo?.get('emergencyContact')?.get('homePhoneNumber')?.touched"
            class="message-block">
              <span class="mat-error-message mat-error-align"
              *ngFor="let k of contactInfo?.get('emergencyContact')?.get('homePhoneNumber')?.errors | keyvalue"
              [attr.data-control]="'Error'">
                {{ (errorMessages.ERROR)['phoneNumberError'][k.key] }}
            </span><br>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #SETTINGPASSWORD>
  <form [formGroup]="createUser" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" [ngStyle]="{'width': '60%','margin-top': '50px'}" [ngStyle.lt-md]="{'width':'90%','margin-top':'30px'}" [ngStyle.lt-sm]="{'width':'100%'}" fxLayout.lt-sm="column">
      <div fxFlex="100%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
        <mat-label fxFlex="30%" fxFlex.lt-md="100%">Username : </mat-label>
        <mat-form-field class="example-full-width" fxFlex="70%" fxFlex.lt-md="100%" appearance="outline">
          <input formControlName="email" matInput />
        </mat-form-field>
      </div>
      <div fxFlex="100%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
        <mat-label fxFlex="30%" fxFlex.lt-md="100%">Create Password : </mat-label>
        <mat-form-field class="example-full-width" fxFlex="70%" fxFlex.lt-md="100%" appearance="outline">
          <input type="password" formControlName="password" matInput />
        </mat-form-field>
      </div>
      <div fxFlex="100%" fxFlex.lt-sm="100%" class="form-field" fxLayout="row" fxLayout.lt-md="column">
        <mat-label fxFlex="30%" fxFlex.lt-md="100%">Re-enter Password : </mat-label>
        <mat-form-field class="example-full-width" fxFlex="70%" fxFlex.lt-md="100%" appearance="outline">
          <input type="password" formControlName="reenterPassword" matInput />
        </mat-form-field>
      </div>
    </div>
  </form>
</ng-template>