<div class="outer-container" fxLayout="column" fxLayoutAlign="center center">
  <mat-card
    class="inner-container"
    fxLayoutAlign="space-between center"
    fxLayout="row wrap"
  >
    <div class="sub-menu">General Ingfo</div>
  </mat-card>
  <mat-card class="form-container">
    <form [formGroup]="employeeInfo" fxLayout="column" style="width: 100%">

       <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" >
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label  fxFlex="40%" fxFlex.lt-md="100%" >User Code</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="userCode" matInput/>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%"  class="form-field" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">First Name</mat-label>
          <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
            <input formControlName="firstName" matInput />
          </mat-form-field>
        </div>
      </div>

         <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" >
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label  fxFlex="40%" fxFlex.lt-md="100%" >Middle Name</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="middleName" matInput/>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%"  class="form-field" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Last Name</mat-label>
          <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
            <input formControlName="lastName" matInput />
          </mat-form-field>
        </div>
      </div>

        <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" >
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label  fxFlex="40%" fxFlex.lt-md="100%" >Email</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="email" matInput/>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%"  class="form-field" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Alternate Email</mat-label>
          <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
            <input formControlName="alternateEmail" matInput />
          </mat-form-field>
        </div>
      </div>

         <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" >
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label  fxFlex="40%" fxFlex.lt-md="100%" >Age</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="age" matInput/>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%"  class="form-field" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Gender</mat-label>
          <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
            <input formControlName="gender" matInput />
          </mat-form-field>
        </div>
      </div>

        <div fxFlex="100%" fxLayout="row" fxLayout.lt-sm="column" >
        <div fxFlex="50%" fxFlex.lt-sm="100%" fxLayout="row" fxLayout.lt-md="column" class="form-field">
          <mat-label  fxFlex="40%" fxFlex.lt-md="100%" >Marital Status</mat-label>
          <mat-form-field fxFlex.lt-md="100%" class="example-full-width" fxFlex="60%" appearance="outline">
            <input formControlName="maritalStatus" matInput/>
          </mat-form-field>
        </div>
        <div fxFlex="50%" fxFlex.lt-sm="100%"  class="form-field" fxLayout="row" fxLayout.lt-md="column">
          <mat-label fxFlex="40%" fxFlex.lt-md="100%">Work</mat-label>
          <mat-form-field class="example-full-width" fxFlex="60%" fxFlex.lt-md="100%" appearance="outline">
            <input formControlName="work" matInput />
          </mat-form-field>
        </div>
      </div>
      
    </form>
  </mat-card>
</div>
