.container {
  // background-image: url('../assets/hospitalLogin.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;

}

.inner-container {
  border-top-left-radius: 130px !important;
  border-radius: 5px;
  background-color: #ffffff59;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin: 0px 30px 30px;
}