<div class="container" fxLayoutAlign="end center" style="background-image: url('./assets/hhh.jpg');position: relative;"
  fxLayoutAlign.lt-md="center center">
  <div class="inner-container" [ngStyle]="{'width': '570px','margin-right':'7%'}" [ngStyle.lt-md]="{'width':'70%'}"
    [ngStyle.lt-sm]="{'width':'90%'}" fxLayoutAlign="center center" fxLayout="column">
    <div class="image"
      style="height: 100px;margin-top: -80px;width: 100px;background-image: url('./assets/nurse12.jpg')"></div>
    <form [formGroup]="loginForm" style="width: 100%;" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>UserName</mat-label>
        <input matInput formControlName="userName">
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
      </mat-form-field>
    </form>
    <div style="width: 100%;color: rgb(90, 90, 225);font-size: 14px;margin-bottom: 5px;">
      Forgot Password?
    </div>
    <button mat-raised-button style="width: 100%;" color="primary" (click)="login()">Sign In</button>
    <p style="color: #060d1f;margin-top: 8px;font-size: 16px;">Not a member?&nbsp;<span
        style="color:#3f51b5;font-size: 13px;">SiguUp
        now</span> </p>
  </div>
</div>