<div class="outer-container" fxLayoutAlign="center center">
  <div fxFlex="100%" class="inner-container" fxLayout="row" fxLayoutAlign="center center" fxFlex.lt-md="95%"
    [ngStyle]="{'height':'100%'}" [ngStyle.lt-md]="{'height':'95%'}">
    <img style="position: absolute;width: 450px;right: 0px;top: 0px;" src="./assets/right.jpg">
    <img style="position: absolute;width: 450px;left: 0px;bottom: 0px;" src="./assets/left.jpg">
    <div fxFlex="50%" fxLayoutAlign="center center" fxHide.lt-sm>
      <img width="100%" src="./assets/forgot-password.jpg">
    </div>
    <div fxFlex="50%" fxFlex.lt-sm="90%" style="background-color: transparent;padding: 30px;"
      fxLayoutAlign="center center" fxLayout="column">
      <img [ngStyle]="{'display':'none'}" [ngStyle.lt-sm]="{'display':'block'}" width="70%"
        src="./assets/forgot-password.jpg">
      <div style="width: 100%;" fxLayout="column" fxLayoutAlign="start start">
        <h1 class="forgot-password-header">Forgot</h1>
        <h1 class="forgot-password-header">Your Password?</h1>
      </div>
      <mat-form-field class="form-field" style="width: 100%">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <button mat-raised-button class="reset-button">Reset Password</button>
      <p class="back-signin" (click)="signInPage()">Back to signin page</p>
    </div>
  </div>
</div>