<div class="outer-container" fxLayoutAlign="center center">
  <div fxFlex="70%" fxLayout="row" style="height: 80%; background-color: white">
    <div fxFlex="60%"></div>
    <div
      fxFlex="40%"
      style="background-color: transparent"
      fxLayoutAlign="center center"
    >
      <h1 class="forgot-password-header">Forgot Your Password?</h1>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput appearance="outline" formControlName="email" />
      </mat-form-field>
    </div>
  </div>
</div>
